//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
  font-family: Dihjauti;
  display: inline-flex;
  padding: toRem(16) toRem(54);
  align-items: center;
  justify-content: center;
  border-radius: toRem(50);
  background-color:$pinkBtn;
  color: #212c20;
  transition: all 0.3s;

	@include adaptiveValue("font-size", 32, 20, 0, $containerWidth, 767.98);

  @media (any-hover: hover) {
    &:hover {
      background-color: $pinkBtnHover;
    }
  }

  &--green {
    background-color:$greenBtn;
    @media (any-hover: hover) {
      &:hover {
        background-color:$greenBtnHover;
      }
    }
  }
	&--pink {
    background-color: $pinkBtn;
		@include adaptiveValue("margin-top", 40, 20, 0, $containerWidth, 767.98);
		@include adaptiveValue("margin-bottom", 20, 25, 0, $containerWidth, 767.98);


    @media (any-hover: hover) {
      &:hover {
        background-color:$pinkBtnHover;
      }
    }
  }


  &--fw {
    width: 100%;
  }
}
