@font-face {
	font-family: MAK;
	font-display: swap;
	src: url("../fonts/MAK.woff2") format("woff2"), url("../fonts/MAK.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	font-display: swap;
	src: url("../fonts/Montserrat-ExtraLight.woff2") format("woff2"), url("../fonts/Montserrat-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;
}
