//====================================================================================================
.header {
  background-color: $bgColor;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    min-height: toRem(54);
    align-items: center;
    gap: toRem(15);
    padding-top: toRem(10);
    padding-bottom: toRem(10);
    @media (max-width: $mobile) {
      justify-content: space-between;
      grid-template-columns: auto auto;
    }
  }

  &__logo {
    position: relative;
    z-index: 5;
    cursor: pointer;
    &-text {
      top: -7px;
      position: relative;
      color: #fff;
      font-size: 10px;
    }
  }

  &__menu {
  }

  .menu {
    justify-self: center;
    &__icon {
    }

    &__body {
      @media (max-width: $mobile) {
        position: fixed;
        width: 100%;
        height: 100%;
        row-gap: toRem(40);
        padding: toRem(120) toRem(15) toRem(25) toRem(15);
        top: 0;
        left: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
        background-color: $bgColorDark;
        transition: left 0.5s;
        &::before {
          content: "";
          position: fixed;
          width: 100%;
          height: toRem(55);
          top: 0;
          left: 100%;
          z-index: 2;
          transition: left 0.5s;
          background-color: $bgColor;
        }
        .menu-open & {
          left: 0;
          &::before {
            left: 0;
          }
        }
      }
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      align-items: center;
      row-gap: toRem(3);
      @include adaptiveValue("column-gap", 50, 15, 0, $containerWidth, 768);
      @media (max-width: $mobile) {
        flex: 1 1 auto;
        font-size: toRem(30);

        align-items: flex-end;
        flex-direction: column;
        row-gap: toRem(30);
      }
    }

    &__item {
    }

    &__link {
      color: #fff;
      @media (any-hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

//====================================================================================================

//Burger

.icon-menu {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: toRem(30);
    height: toRem(18);
    z-index: 5;
    @media (any-hover: none) {
      cursor: default;
    }
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: toRem(2);
      background-color: #fff;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - toRem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - toRem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - toRem(1));
        transform: rotate(45deg);
      }
    }
  }
}
