//====================================================================================================
.hero {
  background-image: url("@img/bgImg.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  &--position {
    padding: 274px 0;
  }
  &__content {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    font-family: Dihjauti;
    font-size: toRem(96);
    line-height: 130%;
    margin-bottom: 56px;

    @include adaptiveValue("font-size", 96, 40, 0, $containerWidth, 767.98);

    @include adaptiveValue("padding-left", 15, 19, 0, $containerWidth, 991.98);
    @include adaptiveValue("padding-right", 15, 19, 0, $containerWidth, 991.98);
  }

  &__tittle {
    text-transform: uppercase;

    &--light {
      @include adaptiveValue("font-size", 64, 28, 0, $containerWidth, 767.98);
    }
    &--small {
      font-family: Montserrat;
      font-size: toRem(24);
      line-height: normal;

      @include adaptiveValue("font-size", 24, 12, 0, $containerWidth, 767.98);
    }
  }
}
// =============
.about {
  display: flex;
  flex-direction: column;
  @include adaptiveValue("padding-top", 150, 65, 0, $containerWidth, 767.98);
  @include adaptiveValue("padding-bottom", 150, 65, 0, $containerWidth, 767.98);

  &__container {
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
  }

  // &__body {
  //   display: grid;
  //   grid-template-columns: repeat(2, 1fr);
  // 	align-items: center;
  //   @media (max-width: $tablet) {
  //     grid-template-columns: auto;
  //   }
  //   // gap: toRem(54);
  // }
  // &__img {
  //   max-width: 100%;
  //   border-radius: 45px;
  //   @media (max-width: $tablet) {
  //     margin-bottom: toRem(20);
  //   }

  //   @media (min-width: $tablet) {
  //     padding-right: toRem(54);
  //   }
  // }
}
// ======

.services {
  margin-bottom: toRem(60);
  @include adaptiveValue("margin-bottom", 60, 5, 0, $containerWidth, 767.98);
  &__line--first {
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: #608001;
      left: 0;
      position: relative;
      z-index: -1;

      @include adaptiveValue("top", 64, 420, 0, $containerWidth, 767.98);
    }

    &--adapted {
      &::before {
        @include adaptiveValue("top", 160, 468, 0, $containerWidth, 767.98);
      }
    }
  }
  &__line--second {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: #608001;
      left: 0;

      position: relative;
      z-index: -1;

      @include adaptiveValue("bottom", 64, 25, 0, $containerWidth, 767.98);
    }
  }

  &__container {
    // position: relative;
  }
}

.warning {
  &__container {
    display: flex;
    align-items: center;
  }
  &__img {
    @include adaptiveValue("height", 48, 24, 0, $containerWidth, 767.98);
    @include adaptiveValue("width", 48, 24, 0, $containerWidth, 767.98);
    @include adaptiveValue("margin-right", 42, 12, 0, $containerWidth, 767.98);
  }
}

//====================================================================================================
