//====================================================================================================
.hero {
  background-image: url("@img/bgImg.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  &--position {
    padding: 274px 0;
  }
  &__content {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    font-family: Dihjauti;
    font-size: toRem(96);
    line-height: 130%;
    margin-bottom: 56px;

    @include adaptiveValue("font-size", 96, 40, 0, $containerWidth, 767.98);

    @include adaptiveValue("padding-left", 15, 19, 0, $containerWidth, 991.98);
    @include adaptiveValue("padding-right", 15, 19, 0, $containerWidth, 991.98);
  }

  &__tittle {
    text-transform: uppercase;

    &--light {
      @include adaptiveValue("font-size", 64, 28, 0, $containerWidth, 767.98);
    }
    &--small {
      font-family: Montserrat;
      font-size: toRem(24);
      line-height: normal;

      @include adaptiveValue("font-size", 24, 12, 0, $containerWidth, 767.98);
    }
    // ========додає анімацію=========
    opacity: 0;
    transform: translate(0px, 15%);
    transition:
      opacity 1s,
      transform 1s;

    ._watcher-view & {
      opacity: 1;
      transform: translate(0, 0);
    }
    // ========додає анімацію=========
  }
}
// =============
.about {
  display: flex;
  flex-direction: column;
  @include adaptiveValue("padding-top", 150, 65, 0, $containerWidth, 767.98);
}
// ======

.services {
  @include adaptiveValue("padding-top", 150, 65, 0, $containerWidth, 767.98);
  &__line--first {
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: #608001;
      left: 0;
      position: relative;
      z-index: -1;

      @include adaptiveValue("top", 64, 420, 0, $containerWidth, 767.98);
    }

    &--adapted {
      &::before {
        @include adaptiveValue("top", 160, 468, 0, $containerWidth, 767.98);
      }
    }
  }
  &__line--second {
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: #608001;
      left: 0;
      position: relative;
      z-index: -1;

      @include adaptiveValue("bottom", 64, 25, 0, $containerWidth, 767.98);
    }
  }
}

.warning {
  &__container {
    display: flex;
    align-items: center;
  }
  &__img {
    @include adaptiveValue("height", 48, 24, 0, $containerWidth, 767.98);
    @include adaptiveValue("width", 48, 24, 0, $containerWidth, 767.98);
    @include adaptiveValue("margin-right", 42, 12, 0, $containerWidth, 767.98);
  }
}

//====================================================================================================
.example {
  @include adaptiveValue("padding-top", 170, 65, 0, $containerWidth, 767.98);
  &__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(8, 1fr);

    @include adaptiveValue("grid-column-gap", 20, 12, 0, $containerWidth, 1000);
    @include adaptiveValue("grid-row-gap", 20, 12, 0, $containerWidth, 1000);

    @media (max-width: $tablet) {
      display: none;
    }
  }
  &__slider {
    position: relative;
    margin-bottom: toRem(25);
  }
  &__arrow {
    transform: translate(0px, 15%);
    transition:
      opacity 1s,
      transform 1s;
    &--left {
      position: absolute;
      left: toRem(30);
      background-image: url("@img/example/Arrow.svg");
      width: 54px;
      @include adaptiveValue("height", 20, 15, 0, $containerWidth, 350);
      background-size: cover;
      text-align: center;
      transform: translate(0, 0);
    }

    &--right {
      position: absolute;
      right: toRem(30);
      background-image: url("@img/example/Arrow.svg");
      width: 54px;
      @include adaptiveValue("height", 20, 15, 0, $containerWidth, 350);
      background-size: cover;
      text-align: center;
      transform: rotate(180deg);
      opacity: 1;
      transform: translate(0, 0), rotate(180deg);
    }

    &.swiper-button-disabled {
      opacity: 0;
    }
  }
  &__hidden {
    display: none;

    @media (max-width: $tablet) {
      display: block;
    }
  }

  .grid {
    &__block1,
    &__block2,
    &__block3,
    &__block4,
    &__block5,
    &__block6,
    &__block7,
    &__block8,
    &__block9,
    &__block10 {
      background-size: cover;
      background-position: center;
      border-radius: 45px;
    }

    &__block1 {
      grid-area: 1 / 1 / 5 / 4;
      background-image: url("@img/example/example1.jpg");
    }

    &__block2 {
      grid-area: 1 / 4 / 3 / 6;
      background-image: url("@img/example/example2.jpg");
    }
    &__block3 {
      grid-area: 3 / 4 / 5 / 6;
      background-image: url("@img/example/example3.jpg");
    }
    &__block4 {
      grid-area: 1 / 6 / 3 / 8;
      background-image: url("@img/example/example4.jpg");
    }
    &__block5 {
      grid-area: 3 / 6 / 5 / 8;
      background-image: url("@img/example/example5.jpg");
    }
    &__block6 {
      grid-area: 5 / 1 / 7 / 3;
      background-image: url("@img/example/example6.jpg");
    }
    &__block7 {
      grid-area: 7 / 1 / 9 / 3;
      background-image: url("@img/example/example7.jpg");
    }
    &__block8 {
      grid-area: 5 / 3 / 7 / 5;
      background-image: url("@img/example/example8.jpg");
    }
    &__block9 {
      grid-area: 7 / 3 / 9 / 5;
      background-image: url("@img/example/example9.jpg");
    }
    &__block10 {
      grid-area: 5 / 5 / 9 / 8;
      height: 720px;
      background-image: url("@img/example/example10.jpg");
    }
  }

  .first__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 13px;
    padding-right: toRem(2);
    &--div1 {
      @include adaptiveValue("height", 850, 335, 0, $containerWidth, 320);
      background-size: cover;
      background-position: center;
      border-radius: 45px;
    }

    &--div2,
    &--div3,
    &--div4,
    &--div5 {
      @include adaptiveValue("height", 410, 162, 0, $containerWidth, 320);
      background-size: cover;
      background-position: center;
      border-radius: 45px;
    }

    &--div1 {
      grid-area: 1 / 1 / 3 / 2;
      background-image: url("@img/example/example1.jpg");
    }
    &--div2 {
      grid-area: 3 / 1 / 4 / 2;
      background-image: url("@img/example/example2.jpg");
    }
    &--div3 {
      grid-area: 1 / 2 / 2 / 3;
      background-image: url("@img/example/example3.jpg");
    }
    &--div4 {
      grid-area: 2 / 2 / 3 / 3;
      background-image: url("@img/example/example4.jpg");
    }
    &--div5 {
      grid-area: 3 / 2 / 4 / 3;
      background-image: url("@img/example/example5.jpg");
    }
  }

  .second__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 13px;
    grid-row-gap: 13px;
    padding-left: toRem(2);
    &--div5 {
      background-size: cover;
      background-position: center;
      border-radius: 45px;
    }

    &--div1,
    &--div2,
    &--div3,
    &--div4 {
      background-size: cover;
      background-position: center;
      border-radius: 45px;
    }

    &--div1 {
      grid-area: 1 / 1 / 3 / 2;
      background-image: url("@img/example/example6.jpg");
    }
    &--div2 {
      grid-area: 3 / 1 / 4 / 2;
      background-image: url("@img/example/example7.jpg");
    }
    &--div3 {
      grid-area: 1 / 2 / 2 / 3;
      background-image: url("@img/example/example8.jpg");
    }
    &--div4 {
      grid-area: 2 / 2 / 3 / 3;
      background-image: url("@img/example/example9.jpg");
    }
    &--div5 {
      grid-area: 3 / 2 / 4 / 3;
      background-image: url("@img/example/example10.jpg");
    }
  }
}
// ================
.reviews {
  @include adaptiveValue("padding-top", 170, 65, 0, $containerWidth, 767.98);
  &__hidden {
    padding-bottom: toRem(30);
    display: none;

    @media (max-width: $tablet) {
      display: block;
    }
  }

  &--wraper {
    margin-bottom: 8px;
  }

  &__block {
    display: flex;
    @media (max-width: $tablet) {
      display: none;
    }
  }

  &__column {
    &:not(:last-child) {
      margin-right: toRem(40);
    }
  }

  & .review {
    display: flex;
    flex-direction: column;
    width: 580px;
    border-radius: 45px;
    border: 2px solid $pinkBtn;
    background: rgba(251, 209, 217, 0.28);
    padding: toRem(26) toRem(35) toRem(35);

    @include adaptiveValue("padding", 26, 20, 0, $containerWidth, 1000);

    @media (max-width: $tablet) {
      width: 100%;
    }

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 25, 0, $containerWidth, 767);
    }
    &__title {
      color: $pinkBtn;
      text-align: start;
      font-family: Dihjauti;
      font-size: 45px;
      font-weight: 700;
      @include adaptiveValue("margin-bottom", 38, 22, 0, $containerWidth, 767);
      &--margin {
        margin-top: toRem(5);
      }
    }
    &__text {
      font-size: 24px;
      font-weight: 300;
      &:not(:last-child) {
        @include adaptiveValue(
          "margin-bottom",
          45,
          25,
          0,
          $containerWidth,
          767
        );
      }
    }

    &__slide {
      &--first {
        padding-right: toRem(2);
      }
      &--second {
        padding-left: toRem(2);
      }
    }

    &__arrow {
      transform: translate(0px, 15%);
      transition:
        opacity 1s,
        transform 1s;
      &--left {
        position: absolute;

        left: toRem(30);
        background-image: url("@img/example/Arrow.svg");
        width: 54px;
        @include adaptiveValue("height", 20, 15, 0, $containerWidth, 350);
        background-size: cover;
        text-align: center;
        transform: translate(0, 0);
      }

      &--right {
        position: absolute;
        right: toRem(30);
        background-image: url("@img/example/Arrow.svg");
        width: 54px;
        @include adaptiveValue("height", 20, 15, 0, $containerWidth, 350);
        background-size: cover;
        text-align: center;
        transform: rotate(180deg);
        opacity: 1;
        transform: translate(0, 0), rotate(180deg);
      }

      &.swiper-button-disabled {
        opacity: 0;
      }
    }
  }
}

// =======

.advice {
  @include adaptiveValue("padding-top", 170, 65, 0, $containerWidth, 767.98);

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: toRem(58);
    @include adaptiveValue("gap", 58, 0, 0, $containerWidth, 767.98);
    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: start;
    @media (max-width: $tablet) {
      align-items: center;
    }

    &--title {
      color: $darkGreen;
      font-family: Dihjauti;
      @include adaptiveValue("font-size", 40, 24, 0, $containerWidth, 767.98);
      font-weight: 700;
      @include adaptiveValue("line-height", 55, 35, 0, $containerWidth, 767.98);

      &:not(:last-child) {
        margin-bottom: toRem(18);
      }

      @media (max-width: $tablet) {
        text-align: center;
      }
    }

    & .order__form {
      display: flex;
      flex-direction: column;
      @include adaptiveValue(
        "margin-bottom",
        20,
        0,
        0,
        $containerWidth,
        767.98
      );
      @include adaptiveValue("gap", 40, 20, 0, $containerWidth, 767.98);
    }

    & input {
      color: $mainColor;
      background-color: $bgColor;

      @include adaptiveValue("font-size", 22, 14, 0, $containerWidth, 767.98);
      font-weight: 600;
      @include adaptiveValue(
        "padding-bottom",
        15,
        10,
        0,
        $containerWidth,
        767.98
      );
      outline: none;
      box-sizing: border-box;
      border-bottom: 1px solid $mainColor;

      &::placeholder {
        color: $mainColor;
        background-color: $bgColor;
        @include adaptiveValue("font-size", 22, 14, 0, $containerWidth, 767.98);
        font-weight: 600;
      }
    }
  }

  &__picture {
    @include adaptiveValue("height", 549, 372, 0, $containerWidth, 767.98);
    background-size: cover;
    background-position: center;
    border-radius: toRem(45);
    background-image: url("@img/advice/advice.jpg");
  }
}

// =======
.delivery {
  @include adaptiveValue("padding-top", 170, 65, 0, $containerWidth, 767.98);
  @include adaptiveValue("padding-bottom", 170, 65, 0, $containerWidth, 767.98);
  &__title {
    color: #608001;
    text-align: center;
    font-family: Dihjauti;
    font-weight: 700;

    @include adaptiveValue("font-size", 55, 26, 0, $containerWidth, 767.98);
    @include adaptiveValue("line-height", 70, 32, 0, $containerWidth, 767.98);
    @include adaptiveValue("margin-bottom", 50, 30, 0, $containerWidth, 767.98);
    &--span {
      color: #fc87b8;
    }
  }

  &__desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;

    @media (max-width: $tablet) {
      display: none;
    }

    &--first,
    &--second,
    &--third,
    &--fourth,
    &--fifth {
      background-size: cover;
      background-position: center;
      border-radius: toRem(45);
    }

    &--first {
      grid-area: 1 / 1 / 3 / 2;
      height: 720px;
      background-image: url("@img/delivery/delivery_first.jpg");
    }
    &--second {
      grid-area: 1 / 2 / 2 / 3;
      background-image: url("@img/delivery/delivery_second.jpg");
    }
    &--third {
      grid-area: 1 / 3 / 2 / 4;
      background-image: url("@img/delivery/delivery_third.jpg");
    }
    &--fourth {
      grid-area: 2 / 2 / 3 / 3;
      background-image: url("@img/delivery/delivery_fourth.jpg");
    }
    &--fifth {
      grid-area: 2 / 3 / 3 / 4;
      background-image: url("@img/delivery/delivery_fifth.jpg");
    }
  }

  &__mobile {
    @media (min-width: $tablet) {
      display: none;
    }

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 12px;
    grid-row-gap: 12px;

    &--first,
    &--second,
    &--third,
    &--fourth,
    &--fifth {
      background-size: cover;
      background-position: center;
      border-radius: toRem(45);
    }

    &--first {
      grid-area: 1 / 1 / 3 / 2;
      height: 335px;
      background-image: url("@img/delivery/delivery_first.jpg");
    }
    &--second {
      grid-area: 3 / 1 / 4 / 2;
      background-image: url("@img/delivery/delivery_second.jpg");
    }
    &--third {
      grid-area: 1 / 2 / 2 / 3;
      background-image: url("@img/delivery/delivery_third.jpg");
    }
    &--fourth {
      grid-area: 2 / 2 / 3 / 3;
      background-image: url("@img/delivery/delivery_fourth.jpg");
    }
    &--fifth {
      grid-area: 3 / 2 / 4 / 3;
      background-image: url("@img/delivery/delivery_fifth.jpg");
    }
  }
}
// =======
